/* nav bar styles */
.search-field {
  width: 20rem;
}

/* main styles, ensures <main> doesn't overlap nav */
main {
  margin-top: 5rem;
}

/* side panel styles */
.side-panel {
  .btn {
    margin-bottom: 1rem;
  }
}

/* main content styles */
.content-controllers {
  margin-bottom: 1rem;
}

.content-cards {
  .col {
    margin-bottom: 1rem;
  }
}